<%- include('partials/header', { title: 'BloxScore | 404' }) %>

<section class="auth-box">
  <h1>404</h1>
  <p><%= message %></p>
  <a href="/" class="button">Zpět na domů</a>
</section>

<%- include('partials/footer') %>
